/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// -----------------css reset end-----------------

:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-primary: #00FFA3;
    --color-gradient: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);;
}

img{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
}

*, *::before, *::after{
    box-sizing: border-box;
}


// -----------------文字樣式-----------------
.title-lg{
    font-size: 8rem;
}
.title-md{
    font-size: 4rem;
}
.fc-white{
    color: var(--color-white);
}
.fc-primary{
    color: var(--color-primary);
}
.fc-black{
    color: var(--color-black);
}
.fs-1{
    font-size: 2rem;
}
.fs-2{
    font-size: 1.5rem;
}
.fs-3{
    font-size: 1.25rem;
}
// -----------------文字樣式 end-----------------

.d-flex{
    display: flex;
}
.gap-24{
    gap: 24px;
}
.ml-a{
    margin-left: auto;
}
.mr-a{
    margin-right: auto;
}
.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.btn-white{
    background-color: var(--color-white);
    color: var(--color-black);
}
.btn-black{
    background-color: var(--color-black);
    color: var(--color-white);
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.nav{
    background-color: var(--color-black);
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            display: block;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            transition: all .2s;
            &:hover{
                color: var(--color-primary);
            }
        }
    }
}


.header{
    background-color: var(--color-black);
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    .d-flex{
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
    .pic, .name{
        width: 50%;
    }
    .name{
        display: flex;
        flex-direction: column;
        h1, a{
            margin-left: auto;
        }
    }
}

.introduction{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    background-position: center center;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 160px;
    .content{
        width: 526px;
        h3{
            margin-bottom: 36px;
        }
        p{
            margin-bottom: 32px;
        }
    }
    .sparkle{
        gap: 16px;
    }
    &-wrap{
        justify-content: space-between;
    }
}

.about{
    padding-top: 160px;
    padding-bottom: 160px;
    .d-flex{
        margin-left: -6px;
        margin-right: -6px;
        align-items: center;
    }
    .card-wrap{
        width: 636px;
    }
    .card-list{
        flex-wrap: wrap;
        .column{
            width: 50%;
            padding-left: 12px;
            padding-right: 12px;
            margin-bottom: 24px;
        }
    }
    .card{
        border: 1px solid #E3E3E3;
        box-shadow: 4px 4px 4px rgba(black, 0.08);
        padding: 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .content-wrap{
        width: 526px;
    }
    .content{
        h3{
            margin-bottom: 36px;
        }
    }
}

.contact{
    background: var(--color-gradient);
    padding-top: 96px;
    padding-bottom: 96px;
    .title{
        h3{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                position: relative;
                display: inline-block;
                width: 100px;
                height: 100px;
                background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/trending_flat_black_24dp%201.png?raw=true');
                margin-left: 16px;
            }
        }
    }
    .sns{
        gap: 20px;
    }
    .sns-icon{
        transition: all 0.2s;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        &:hover{
            box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
        }
    }
}

.project{
    padding-top: 160px;
    padding-bottom: 160px;
    h3{
        margin-left: calc(100% / 12 *5);
        margin-bottom: 16px;
    }
    &-left{
        width: 416px;
    }
    &-right{
        flex-direction: column;
    }
    .content{
        margin-bottom: 28px;
    }
    .more{
        flex-direction: column;
        align-items: flex-start;
        .btn{
            margin-top: auto;
        }
    }
}

.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--color-black);
    color: var(--color-white);
}